<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= params[:position_name] %></title>
  </head>

  <body>
    <h1><%= params[:position_name] %></h1>
    <ul>
      Player: Team
      <% @lackp.each do |key, value| %>
        <% if value[:position] == params[:position_name] %>
          <li> <%= value[:first_name] %> <%= value[:last_name] %>: <%= value[:team] %> </li>
        <% end %>
      <% end %>
      <li><a href="/">Back Home</a></li>
    </ul>
  </body>
</html>
